root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 2
end_of_line = lf

[*.json]
indent_style = space
indent_size = 2

[*.bat]
charset = gbk
end_of_line = crlf

[*.nsi]
charset = gbk
end_of_line = crlf
